/* Table container */
.table-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 56px);
  width: 100vw;
  padding: 1rem;
  box-sizing: border-box;
  overflow: hidden;
}
.table-wrapper {
  width: 100%;
  max-height: calc(100vh - 56px - 120px);
  overflow-y: auto;
}

/* Search box */
input.form-control {
  border-radius: 0;
}

/* Card */
.card {
  border-radius: 0;
}

/* Table */
table {
  width: 100%;
  table-layout: fixed;
  border: none;
}
table th,
table td {
  border-top: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
table th {
  background-color: #343a40;
  color: #fff;
}

/* Column widths */
table th:nth-child(1),
table td:nth-child(1) {
  width: 5%;
}
table th:nth-child(2),
table td:nth-child(2) {
  width: 15%;
}
table th:nth-child(3),
table td:nth-child(3) {
  width: 35%;
}
table th:nth-child(4),
table td:nth-child(4) {
  width: 15%;
}
table th:nth-child(5),
table td:nth-child(5) {
  width: 15%;
}
table th:nth-child(6),
table td:nth-child(6) {
  width: 10%;
}
table th:nth-child(7),
table td:nth-child(7) {
  width: 15%;
}

/* Hover effect */
table tbody tr:hover {
  transform: translateY(-0.6px);
  transition: transform 0.2s ease;
}

/* Table fade-in */
.fade-table {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.8s cubic-bezier(0.4, 0, 0.2, 1),
    transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}
.fade-table.show {
  opacity: 1;
  transform: translateY(0);
}

/* Skeleton */
.skeleton {
  display: inline-block;
  width: 100%;
  height: 1rem;
  border-radius: 4px;
  background-color: #e0e0e0;
  position: relative;
  overflow: hidden;
}
.skeleton::after {
  content: "";
  position: absolute;
  top: 0;
  left: -150%;
  width: 150%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(224, 224, 224, 0) 0%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(224, 224, 224, 0) 100%
  );
  animation: shimmer 1.5s infinite;
}
.skeleton-footer {
  width: 20rem;
  height: 1rem;
}

/* Animation */
@keyframes shimmer {
  0% {
    left: -150%;
  }
  100% {
    left: 100%;
  }
}

/* Responsive */
@media (max-width: 1460px) {
  table th:nth-child(4),
  table th:nth-child(5),
  table td:nth-child(4),
  table td:nth-child(5) {
    display: none;
  }
}
@media (max-width: 630px) {
  table th:nth-child(3),
  table th:nth-child(4),
  table th:nth-child(5),
  table td:nth-child(3),
  table td:nth-child(4),
  table td:nth-child(5) {
    display: none;
  }
}
