.pagination {
  margin: 1rem 0;
  font-size: 0.875rem;
  justify-content: center;
}
.page-link,
.page-item a.page-link,
.page-item span.page-link {
  color: #000;
  background-color: transparent;
  border: none;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  border-radius: 0 !important;
  min-width: 2rem;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.page-item.active .page-link {
  background-color: #000;
  color: #fff;
}
.page-item.disabled .page-link {
  cursor: default;
  pointer-events: none;
  opacity: 0.6;
}
