<div
  class="d-flex justify-content-center align-items-center flex-grow-1 w-100 pt-2 pt-md-4"
>
  <div class="card p-4">
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
      <!-- Header -->
      <div class="text-center mb-4">
        <h3 class="signup-heading">Welcome</h3>
        <p class="small">Join the competitions today</p>
      </div>
      <!-- Alerts -->
      @if(error()) {
      <div class="alert alert-danger" role="alert">
        {{ error() }}
      </div>
      }
      <!-- College -->
      <div class="mb-4 position-relative">
        <div class="input-group">
          <input
            type="text"
            id="collegeName"
            class="form-control"
            placeholder="College"
            formControlName="collegeName"
          />
        </div>
        @if(hasError('collegeName', 'required')) {
        <div class="input-error-bubble" aria-live="polite">
          Please fill out this field.
        </div>
        } @if(hasError('collegeName', 'maxlength')) {
        <div class="input-error-bubble" aria-live="polite">
          This fill can't be more than 100 characters.
        </div>
        }
      </div>
      <!-- College -->
      <div class="mb-4 position-relative">
        <div class="input-group">
          <input
            type="text"
            id="fullName"
            class="form-control"
            placeholder="Full name"
            formControlName="fullName"
          />
        </div>
        @if(hasError('fullName', 'required')) {
        <div class="input-error-bubble" aria-live="polite">
          Please fill out this field.
        </div>
        } @if(hasError('fullName', 'maxlength')) {
        <div class="input-error-bubble" aria-live="polite">
          This fill can't be more than 100 characters.
        </div>
        }
      </div>
      <!-- Email -->
      <div class="mb-4 position-relative">
        <div class="input-group">
          <input
            type="text"
            id="email"
            class="form-control"
            placeholder="Email"
            formControlName="email"
          />
        </div>
        @if(hasError('email', 'required')) {
        <div class="input-error-bubble" aria-live="polite">
          Please fill out this field.
        </div>
        } @if(hasError('email', 'maxlength')) {
        <div class="input-error-bubble" aria-live="polite">
          This fill can't be more than 254 characters.
        </div>
        } @if(hasError('email', 'email')) {
        <div class="input-error-bubble" aria-live="polite">
          This fill must be a valid email.
        </div>
        }
      </div>
      <!-- Password -->
      <div class="mb-4 position-relative">
        <div class="input-group">
          <input
            [type]="showPassword ? 'text' : 'password'"
            id="password"
            class="form-control"
            placeholder="Password"
            formControlName="password"
          />
        </div>
        @if(hasError('password', 'required')) {
        <div class="input-error-bubble" aria-live="polite">
          Please fill out this field.
        </div>
        } @if(hasError('password', 'maxlength')) {
        <div class="input-error-bubble" aria-live="polite">
          This fill can't be more than 128 characters.
        </div>
        }
      </div>
      <!-- Footer -->
      <div class="d-grid mb-4">
        <button
          type="submit"
          class="footer-button btn btn-dark"
          [disabled]="signUpForm.invalid || isLoading()"
        >
          Sign up
        </button>
      </div>
      <div class="text-center">
        <p class="small text-dark">
          Already have an account?
          <a routerLink="/signin">Sign in</a>
        </p>
      </div>
    </form>
  </div>
</div>
