@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
:root {
  --main-color: #000;
  --main-font: "Inter", sans-serif;
}
body {
  color: var(--main-color);
  font-family: var(--main-font);
  line-height: 1.5;
}
html {
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
